<form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
  <div [ngClass]="{ 'has-error': f.submitted && !username.valid }">
    <fieldset>
      <label for="username">pseudo</label>
      <input
        type="text"
        name="username"
        [(ngModel)]="model.username"
        #username="ngModel"
        required
      />
      <span *ngIf="f.submitted && !username.valid">le pseudo est requis</span>
    </fieldset>
  </div>
  <div
    class="errors"
    [ngClass]="{ 'has-error': f.submitted && !password.valid }"
  >
    <fieldset>
      <label for="password">password</label>
      <input
        type="password"
        name="password"
        [(ngModel)]="model.password"
        #password="ngModel"
        required
      />
      <span class="errors" *ngIf="f.submitted && !password.valid"
        >le mot de passe est requis</span
      >
    </fieldset>
  </div>

  <div>
    <button type="submit">Login</button>
  </div>
</form>
