form {
  width: 100%;
  display: flex;
  padding: 1rem;
  position: sticky;
  top: 0;

  .content {
    width: 100%;

    fieldset {
      display: flex;
      flex-direction: column;
      width: 95%;

      input {
        height: 2rem;
        width: 100%;
      }
    }
  }

  button {
    width: 5.5rem;

    &:hover {
      width: 6.5rem;
    }
  }
}
