ul {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
  padding: 3rem;
  height: 15%;

  li {
    padding: 1rem;

    img {
      width: 5rem;
    }

    button {
      width: 5rem;

      &:hover {
        width: 7rem;
      }
    }
  }
}
