<ul>
  <li>
    <a [routerLink]="['/chat']">
      <img src="../assets/images/logo_lettres_kitty.png" alt="kitty"
    /></a>
  </li>
  <li>
    <a [routerLink]="['/register']">
      <button type="button">register</button>
    </a>
  </li>
  <li>
    <a [routerLink]="['/login']">
      <button type="button">login</button>
    </a>
  </li>
  <li>
    <button type="button">logout</button>
  </li>
  <li>
    <a [routerLink]="['/chat']">
      <img src="../assets//images/logo_kitty.png" alt="logo" />
    </a>
  </li>
</ul>

<router-outlet></router-outlet>
