form {
  width: 100%;
  display: flex;
  padding: 1rem;
  position: sticky;
  top: 0;

  .content {
    width: 100%;

    fieldset {
      display: flex;
      flex-direction: column;
      width: 95%;

      input {
        height: 2rem;
        width: 100%;
      }
    }
  }

  button {
    width: 5.5rem;

    &:hover {
      width: 6.5rem;
    }
  }
}

.messages {
  width: 100%;
  overflow-y: scroll;
  display: flex;
  flex-direction: column-reverse;
  justify-content: end;

  &_single {
    width: 40%;
    padding: 1rem;
    margin: 1rem;
    border-radius: 0 1rem 1rem 1rem;
    display: flex;
    flex-direction: column;
    background-color: darkgray;
    color: rgb(31, 44, 44);

    &_author {
      margin-bottom: 0.5rem;
      color: darkslategrey;
      font-size: small;

      span {
        font-size: large;
      }
    }

    &_content {
      font-size: larger;
    }
  }

  & .me {
    margin-left: auto;
    border-radius: 1rem 1rem 0 1rem;
  }
}
