<form
  #myForm="ngForm"
  (ngSubmit)="
    !minContent(currentMessage.message) && myForm.valid && sendMessage()
  "
>
  <div class="content">
    <fieldset>
      <label for="newMessage"></label>
      <input
        id="newMessage"
        name="newMessage"
        [(ngModel)]="currentMessage.message"
        #content="ngModel"
        type="text"
        minLength="1"
        placeholder="new message (at least 1 character)...."
      />
    </fieldset>
  </div>
  <button type="submit">send</button>
</form>

<ul class="messages">
  <li
    [ngClass]="
      message.author === me.username ? 'messages_single me' : 'messages_single'
    "
    *ngFor="let message of messages"
  >
    <span class="messages_single_author"
      ><span>{{ message.author }}</span> wrote:</span
    >
    <span class="messages_single_content">{{ message.message }}</span>
  </li>
</ul>
