form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  fieldset {
    display: flex;
    flex-direction: column;
  }

  .required {
    color: red;
  }

  .errors {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: red;
  }

  * {
    padding: 0.3rem;
  }

  button {
    width: 5.5rem;

    &:hover {
      width: 6.5rem;
    }
  }
}
